@import "../styles/lib.module";
.home_page {
  position: relative;
  padding-bottom: 72px;
  min-width: 1600px;
  .top_wrapper {
    position: relative;
    .top_rank_tab_wrapper {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }
  .W1200{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
  .live_list {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;

    //flex-wrap: nowrap;
    //flex: 0 0 auto;
    overflow: hidden;
    margin-right: -12px;
    height: 215px;
    position: relative;
    .home_page_live_item {
      margin-right: 12px;
      margin-bottom: 12px;
    }
    &:after {
      content: '';
      width: 175px;
      height: 100%;
      display: block;
      @include linear_gradient_x(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
